@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
@import url(https://fonts.googleapis.com/css?family=Material+Icons);

body,
html {
    width: 100%;
    height: 100%;
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding:0px;
    margin:0px;
}

.brand {
  text-decoration: none;
  color: black !important;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 2px
}

.flex-container {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row /* works with row or column */
   flex-direction: row;
   -webkit-align-items: center;
   align-items: center;
   -webkit-justify-content: center;
   justify-content: center;
}

.login-item {
  margin-top: 20px;
}

#forgot-password {
  margin-left: 40px;
}

a:link {
    text-decoration: none;
    color: red;
}

a:visited {
    text-decoration: none;
    color: green;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

.separator {
    width: 100%;
    border-bottom: 1px solid #60636a;
    text-align: center;
    height: 18px;
    margin-bottom: 15px;
}
.separator span {
    line-height: 15px;
    padding: 0 10px;
    background: white; /* Color of the element below */
    display: inline-block;
    margin-top: 10px;
    color: #60636a;
}

@media(max-width:767px) {
    .desktop-only {
        display: none;
    }
    .mobile-only {
      display: inline !important;

    }

  }
